# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:https://docs.google.com/document/d/1ktkpgEtOr3DYyDPrj0mfGDoUY40QRw-lAU7iSqYhws4/edit?usp=sharing

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
#Data for National and State for three years from the Bureau of Labor Statistics.
N2021_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm21nat/national_M2021_dl.xlsx',index_col=None)
S2021_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm21st/state_M2021_dl.xlsx',index_col=None)
N2020_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm20nat/national_M2020_dl.xlsx',index_col=None)
S2020_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm20st/state_M2020_dl.xlsx',index_col=None)
N2019_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm19nat/national_M2019_dl.xlsx',index_col=None)
S2019_df = pd.read_excel('/Users/nicolette/Desktop/LaunchCode/Project Arts/oesm19st/state_M2019_dl.xlsx',index_col=None)

In [2]:
N2021_df.replace("**", np.nan, inplace= True)
S2021_df.replace("**", np.nan, inplace= True)
N2020_df.replace("**", np.nan, inplace= True)
S2020_df.replace("**", np.nan, inplace= True)
N2019_df.replace("**", np.nan, inplace= True)
S2019_df.replace("**", np.nan, inplace= True)

N2021_df.replace("*", np.nan, inplace= True)
S2021_df.replace("*", np.nan, inplace= True)
N2020_df.replace("*", np.nan, inplace= True)
S2020_df.replace("*", np.nan, inplace= True)
N2019_df.replace("*", np.nan, inplace= True)
S2019_df.replace("*", np.nan, inplace= True)

In [3]:
# add a column to each set signifying the year 
N2021_df["Year"] = int(2021)
S2021_df["Year"] = int(2021)
N2020_df["Year"] = int(2020)
S2020_df["Year"] = int(2020)
N2019_df["Year"] = int(2019)
S2019_df["Year"] = int(2019)

In [4]:
#Change the names of the columns for 2019 dataset to match capitilzation of other sets.
N2019_df.rename(columns={'occ_code': 'OCC_CODE', 'occ_title': 'OCC_TITLE','o_group' : 'O_GROUP','tot_emp' : 'TOT_EMP','a_mean':'A_MEAN','h_mean':'H_MEAN','area_title':'AREA_TITLE'}, inplace=True)
S2019_df.rename(columns={'occ_code': 'OCC_CODE', 'occ_title': 'OCC_TITLE','o_group' : 'O_GROUP','tot_emp' : 'TOT_EMP','a_mean':'A_MEAN','h_mean':'H_MEAN','area_title':'AREA_TITLE'}, inplace=True)

#Grab only the columns needed for each table
N2021_df = N2021_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]
S2021_df = S2021_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]
N2020_df = N2020_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]
S2020_df = S2020_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]
N2019_df = N2019_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]
S2019_df = S2019_df[['OCC_CODE','OCC_TITLE','O_GROUP','TOT_EMP','A_MEAN', 'H_MEAN', 'Year', 'AREA_TITLE']]

#Combine into 2 data sets, national data and state data.
national_df = pd.concat([N2021_df, N2020_df,N2019_df])
state_df = pd.concat ([S2021_df, S2020_df,S2019_df])

#Keep only rows to do with Art as an occupation according to the occupational code.
national_df = national_df.query("OCC_CODE in ('27-0000','27-1000','27-1010','27-1011','27-1012','27-1013','27-1014','27-1019','27-1020','27-1021','27-1022','27-1023','27-1024','27-1025','27-1026','27-1027','27-1029','27-2000','27-2010','27-2011','27-2012','27-2030','27-2031','27-2032','27-2040','27-2041','27-2042','27-2090','27-2091','27-2099','27-3000','27-3010','27-3011','27-3020','27-3023','27-3030','27-3031','27-3040','27-3041','27-3042','27-3043','27-3090','27-3091','27-3092','27-3099','27-4000','27-4010','27-4011','27-4012','27-4014','27-4015','27-4020','27-4021','27-4030','27-4031','27-4032','27-4090','27-4099')")
state_df = state_df.query("OCC_CODE in ('27-0000','27-1000','27-1010','27-1011','27-1012','27-1013','27-1014','27-1019','27-1020','27-1021','27-1022','27-1023','27-1024','27-1025','27-1026','27-1027','27-1029','27-2000','27-2010','27-2011','27-2012','27-2030','27-2031','27-2032','27-2040','27-2041','27-2042','27-2090','27-2091','27-2099','27-3000','27-3010','27-3011','27-3020','27-3023','27-3030','27-3031','27-3040','27-3041','27-3042','27-3043','27-3090','27-3091','27-3092','27-3099','27-4000','27-4010','27-4011','27-4012','27-4014','27-4015','27-4020','27-4021','27-4030','27-4031','27-4032','27-4090','27-4099')")

In [5]:
#Make a dataframe JUST for Missouri
missouri_df= state_df.query("AREA_TITLE == 'Missouri'")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

## Data sets
Missouri only: missouri_df 
<br>
States: state_df
<br>
National: national_df

In [6]:
#Check for the number of null values. See notes below: asteriks were replaced with null values. 
print('MISSOURI',missouri_df.isnull().sum())
print('NATIONAL',national_df.isnull().sum())
print('STATE',state_df.isnull().sum())

MISSOURI OCC_CODE       0
OCC_TITLE      0
O_GROUP        0
TOT_EMP        2
A_MEAN        16
H_MEAN         4
Year           0
AREA_TITLE     0
dtype: int64
NATIONAL OCC_CODE       0
OCC_TITLE      0
O_GROUP        0
TOT_EMP        0
A_MEAN        19
H_MEAN         0
Year           0
AREA_TITLE     0
dtype: int64
STATE OCC_CODE        0
OCC_TITLE       0
O_GROUP         0
TOT_EMP       171
A_MEAN        541
H_MEAN        181
Year            0
AREA_TITLE      0
dtype: int64

In [7]:
#Show the rows with "**" and "*"
#missouri_df.loc[missouri_df['TOT_EMP'] == '**']
#missouri_df.loc[missouri_df['A_MEAN'] == '*']
#missouri_df.loc[missouri_df['H_MEAN'] == '*']

#state_df.loc[state_df['TOT_EMP'] == '**']
#state_df.loc[state_df['A_MEAN'] == '*']
#state_df.loc[state_df['H_MEAN'] == '*']

#national_df.loc[national_df['TOT_EMP'] == '**']
#national_df.loc[national_df['A_MEAN'] == '*']
#national_df.loc[national_df['H_MEAN'] == '*']

## Summary of above code:
•missouri_df['TOT_EMP']: 2 rows with **<br>
•missouri_df['A_MEAN']: 16 rows with *<br>
•missouri_df['H_MEAN']: 10 rows with *<br>
<br>
•national_df['TOT_EMP']: 0 rows with **<br>
•national_df['A_MEAN']: 19 rows with *<br>
•national_df['H_MEAN']: 9 rows with *<br>
<br>
•state_df['TOT_EMP']: 179 rows with **<br>
•state_df['A_MEAN']: 546 rows with *<br>
•state_df['H_MEAN']: 458 rows with *<br>

**ACTION: replace asteriks with null so TOT_EMP, A_MEAN and H_MEAN can be converted to datatype int for calculations and graphs. Code was added just after creating the original dataframes replacing asteriks with NaN to avoid errors.**

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [8]:
#Check data types. missouri_df and state_df's [A_MEAN] and [H_MEAN] are listed as objects and need to be converted to floats.
print('MISSOURI',missouri_df.dtypes)
print('STATE',state_df.dtypes)
print('NATIONAL',national_df.dtypes)

MISSOURI OCC_CODE       object
OCC_TITLE      object
O_GROUP        object
TOT_EMP       float64
A_MEAN         object
H_MEAN         object
Year            int64
AREA_TITLE     object
dtype: object
STATE OCC_CODE       object
OCC_TITLE      object
O_GROUP        object
TOT_EMP       float64
A_MEAN         object
H_MEAN         object
Year            int64
AREA_TITLE     object
dtype: object
NATIONAL OCC_CODE       object
OCC_TITLE      object
O_GROUP        object
TOT_EMP       float64
A_MEAN        float64
H_MEAN        float64
Year            int64
AREA_TITLE     object
dtype: object

In [9]:
#Convert numerical columns to float (if they aren't already). 
missouri_df['A_MEAN'] = missouri_df['A_MEAN'].astype(float)
missouri_df['H_MEAN'] = missouri_df['H_MEAN'].astype(float)

state_df['A_MEAN'] = state_df['A_MEAN'].astype(float)
state_df['H_MEAN'] = state_df['H_MEAN'].astype(float)

#The code above threw an error message, but the casting did take.

/var/folders/wh/snng78rj2bq7994wy2x1xtqc0000gn/T/ipykernel_21092/239371922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missouri_df['A_MEAN'] = missouri_df['A_MEAN'].astype(float)
/var/folders/wh/snng78rj2bq7994wy2x1xtqc0000gn/T/ipykernel_21092/239371922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missouri_df['H_MEAN'] = missouri_df['H_MEAN'].astype(float)

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [10]:
#Get rid of occupations that are sports and not artists by removing occupational codes for sports related occupations in above code.

In [11]:
#Checking unique values to see if there are any flags. See what the two O_GROUPS are, how many and if 
#it would benefit the analysis to cull the data further based on that information.
print('MISSOURI')
print(missouri_df.shape)
print(missouri_df.nunique())
print('\n','STATE')
print(state_df.shape)
print(state_df.nunique())
print('\n''NATIONAL')
print(national_df.shape)
print(national_df.nunique())

MISSOURI
(105, 8)
OCC_CODE      38
OCC_TITLE     38
O_GROUP        2
TOT_EMP       71
A_MEAN        89
H_MEAN        99
Year           3
AREA_TITLE     1
dtype: int64

 STATE
(4754, 8)
OCC_CODE        40
OCC_TITLE       40
O_GROUP          2
TOT_EMP        682
A_MEAN        3035
H_MEAN        2391
Year             3
AREA_TITLE      54
dtype: int64

NATIONAL
(164, 8)
OCC_CODE       58
OCC_TITLE      55
O_GROUP         4
TOT_EMP       148
A_MEAN        132
H_MEAN        149
Year            3
AREA_TITLE      1
dtype: int64

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [12]:
missouri_df.loc[missouri_df['O_GROUP'] == 'detailed']

,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,A_MEAN,H_MEAN,Year,AREA_TITLE
18263,27-1011,Art Directors,detailed,500.0,84150.0,40.46,2021,Missouri
18264,27-1012,Craft Artists,detailed,250.0,48090.0,23.12,2021,Missouri
18265,27-1014,Special Effects Artists and Animators,detailed,90.0,67190.0,32.30,2021,Missouri
18266,27-1019,"Artists and Related Workers, All Other",detailed,70.0,63590.0,30.57,2021,Missouri
18267,27-1021,Commercial and Industrial Designers,detailed,170.0,65390.0,31.44,2021,Missouri
...,...,...,...,...,...,...,...,...
17658,27-4012,Broadcast Technicians,detailed,600.0,40730.0,19.58,2019,Missouri
17659,27-4014,Sound Engineering Technicians,detailed,220.0,47310.0,22.74,2019,Missouri
17660,27-4021,Photographers,detailed,1140.0,32700.0,15.72,2019,Missouri
17661,27-4031,"Camera Operators, Television, Video, and Film",detailed,230.0,54530.0,26.22,2019,Missouri
17662,27-4032,Film and Video Editors,detailed,300.0,53350.0,25.65,2019,Missouri

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? Yes.<br> 
•Missing data: missing data was signified with asterisks in the dataset. I replaced these with null values so I could recast the columns as float instead of object. 

•Irregular Data: I converted  columns with numerical value from object to float. 

•Unnecessary Data: I removed occupations that were sports related and not arts related. I also removed unnecessary columns such as AREA_TYPE, I_Group and H_PST75.

•Inconsistent Data: I capitalized the column names for the 2019 datasets to match the other datasets.<br> 
<br> 
2. Did the process of cleaning your data give you new insights into your dataset? Yes- after removing the asteriks I was able to see the number of null values and for some columns it was significant.
<br>
<br>
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? Keep track of how the null values are affecting aggregations and be sure to keep tabs on that O_GROUP column.

In [13]:
#Checkpoint 2 file crashed due to file size, this is to check file size before saving.
!ls -lh

total 56
-rw-rw-r--@ 1 nicolette  staff    25K Feb 15 11:23 checkpoint-three.ipynb